<h1>Parse#home</h1>

<%= form_tag '/upload', :multipart => true do %>
   <label for="file">Upload SP Metadata XML File</label> <%= file_field_tag "file", :required => true %>
   <%= submit_tag "Submit" %>
<% end %>